<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Blog Website</title>
</head>
<body>
    <div class="fo">
    <h1>Welcome to the Blog</h1>
    <ul>
        <% posts.forEach(post => { %>
            <li><%= post.title %></li>
        <% }); %>
    </ul>
    <a href="/create">Create a new post</a>
    </div>
</body>
</html>
